abbr, abbr[title] {border-bottom:none;}
form ol {
	margin:0;padding:0;
	list-style:none;
}
form li {
	margin:0 0 8px;
	padding:0;
}
form label {
	display:block;
	float:left;
	font-weight:bold;
	color:#333;
	width:144px;
	margin-right:16px;
}
form label .help {
	display:block;
	font-weight:normal;
	color:#666;
	font-size:.8em;
}
#ammount {
	width:100px;
}
form .actions {
	padding-left:160px;
}
form .actions input, form .actions a {
	float:left;
	display:block;
	margin-right:16px;
}
form .actions a {
	margin-top:2px; /* Shift this down for alignment. */
}
