body {padding:8px; background-color:#FFEF99;}

#skipto {display:none;}

#site-header {
	float:left;
	margin-bottom:8px;
}
#site-header ul {
	margin:0;padding:0;
}
#site-header li {
	list-style:none;
	margin:0 8px 0 0; padding:4px;
	background-color:#999;
	float:left;
	text-align:center;
	min-width:144px;
	border:1px solid #333;

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
#site-header li a {
	color:#FFF;
	text-decoration:none;
}

#site-wrapper {
	clear:left;
}

#site-navigation {
	float:left;
	width:224px;
	margin-right:16px;
}
#site-navigation h2 {
	margin-top:0;
}
#site-navigation ul {
	margin:0;padding:0;
}
#site-navigation li {
	list-style:none;
	background-color:#999;
	margin:0 0 2px 0;
	padding:2px;
	text-indent:8px;
	color:#EEE;
}
#site-navigation li.section {
	border-bottom:2px solid #333;
	margin-bottom:1px;
}
#site-navigation li a {
	color:#FFF;
	text-decoration:none;
	-webkit-transition:all .1s ease;
	-moz-transition:all .1s ease;
	-o-transition:all .1s ease;
	transition:all .1s ease;
}
#site-navigation li a:hover {
	text-decoration:underline;
	text-indent:1em;
}

#site-content {
	float:left;
	max-width:720px;
}
#site-content h1 {
	margin-top:0;
}


li > a {
	display:block;
}
.offsite {
	background-color:transparent;
	background-image:url('../images/offsite.png');
	background-repeat:no-repeat;
	background-position:100% 50%;
}
