/* .black { #0F0E13; } */
/* .white { #FFFFF0; } */
/* .green { #90916F; } */
/* .red { #B43A2F; }   */
/* .peach { #E4B388; } */

@import url('/css/normalize.css');
@import url('layout.css');
.totop { display:block; text-align:right; }

.header {
	background-color:#0F0E13;
	background-image:url('../images/beethoven-background.jpg');
	background-position:100% 50%;
	background-repeat:no-repeat;
	border-bottom:2px solid #90916F;
}
.header h1 {
	color:#FFFFF0;
	margin:0; padding:0;
}
.header h1 .extended {
	display:none;
}

.wrapper .page-navigation {
	float:left;
	width:100%;
	padding:8px 0;
	border-bottom:2px solid #90916F;
}
.page-navigation ul {
	margin:0;padding:0;
	list-style:none;
}
.page-navigation li {
	display:block;
	float:left;
	margin:0 8px 0 0;
	padding:0 0 0 8px;
	border-left:2px solid #90916F;
}
.page-navigation li:first-child {border-left:none;}
.page-navigation a {
	display:block;
	float:none;
}

.inner-wrapper {
	clear:both;
}
#main p:first-child {margin-top:0;}

.right {
	border-top:1px solid #90916F;
	border-bottom:1px solid #90916F;
}
#symphonies .image {
	display:block;
	width:120px;
	margin:0 auto;
	padding:0;
}
#symphonies dt {
	font-weight:bold;
	margin-top:.5em;
}
#symphonies dt:first-child {
	margin-top:0;
}
#symphonies dd:before {
	float:left;
	display:block;
	content:'';
	color:#444444;
	margin-right:1em;
	width:3em;
}
#symphonies dd.opus:before {
	content:'Opus';
}
#symphonies dd.tone:before {
	content:'Tone';
}
#symphonies dd.year:before {
	content:'Year';
}

#navigation ul {
	list-style:none;
	margin:0; padding:0;
}
#navigation li {
	margin:4px 0;
	padding:4px 0;
}

.page-navigation a,
#navigation ul a {
	text-decoration:none;
}
.page-navigation a:hover, .page-navigation a:active, .page-navigation a:focus,
#navigation ul a:hover, #navigation ul a:active, #navigation a:focus {
	text-decoration:underline;
	outline:none;
}

/**
 * Layout for medium screen size. Utilize two-column layout.
 */
@media screen and (min-width:600px) {
	.header h1 .extended {
		display:inline;
	}
	.left {border-top:1px solid #90916F;}
	.right {border:none;}

	#symphonies dl {
		font-size:.9em;
	}
	#symphonies dd {
		font-size:.9em;
	}
}

/** 
 * Layout for large screen size. Utilize three-column layout.
 */
@media screen and (min-width:800px) {
	.totop {display:none;}
	.left {border-top:none;}
}
