@import url('layout.ie.css');

.ie .header h1 .extended {
	display:inline;
}

.ie #symphonies dl {
	font-size:.9em;
}
.ie #symphonies dd {
	font-size:.9em;
}

.ie .totop {display:none;}
.ie .left {border-top:none;}
.ie .right {border:none;}
