html, body { margin: 0; padding: 0; background-color:black;}
body { padding-bottom: 20px; text-align: center; }
#container {
	text-align: left;
	margin: 0 auto;
	width: 1000px;
}		
header {
	color: white;
	background-image:url("../images/beethoven-background.jpg");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-color:black;
	border: 1px solid black;
	margin: 20px;
	padding: 20px;
	padding-bottom:0;
}
nav {
	background-color:#baa;
	border: 1px solid black;
	width: 200px;
	margin-left: 20px;
	padding-right:1em;
	float: left;
	/**
	 * Floats are handled as block elements, this is to fix a margin collapsing
	 * bug in IE
	 */
	display: inline;
}
#content {
	background-color:white;
	margin-left: 242px;
	margin-right: 20px;
	border: 1px solid black;
	padding: 20px;
}
footer {
	background-color:white;
	margin: 20px 20px 0 20px;
	padding: 20px;
	border: 1px solid black;
	clear: left;
}

.symphonies .header {
	display:none;
}
.symphonies dt {
	font-weight:bold;
	color:#333;
	margin-top:.25em;
}
.symphonies dt:first-child {
	margin-top:0;
}
@media screen and (min-width:480px) {
/* Clears the floatingness of the list for subsequent content. */
.symphonies:after {
	content:'';
	display:block;
	clear:left;
	margin:0;padding:0;height:0;width:0;
}
.symphonies dt, dd {
	display:block;
	float:left;
	border:1px solid #EEE;
	padding:.25em;
	margin:0 .25em .25em 0;
}
.symphonies dt {
	clear:left;
	width:12em;
	background-image:url('../images/music.png');
	background-position:1px 1px;
	background-repeat:no-repeat;
	padding-left:25px;
}
.symphonies .tone {
	width:6em;
}
.symphonies dd {
	width:4em;
}
.symphonies .header {
	display:block;
	background:none;
	background-color:#bfb;
	font-weight:bold;
	color:#000;
	text-align:center;
}
}
