.roman {font-family: Tahoma, Verdana, Segoe, sans-serif;}
.mmi-I{color:#000000 !important; background-color:#FFFFFF !important;}
.mmi-II{color:#000000 !important; background-color:#ACD8E9 !important;}
.mmi-III{color:#000000 !important; background-color:#ACD8E9 !important;}
.mmi-IV{color:#000000 !important; background-color:#83D0DA !important;}
.mmi-V{color:#000000 !important; background-color:#7BC87F !important;}
.mmi-VI{color:#000000 !important; background-color:#F9F518 !important;}
.mmi-VII{color:#000000 !important; background-color:#FAC611 !important;}
.mmi-VIII{color:#000000 !important; background-color:#FA8A11 !important;}
.mmi-IX{color:#FFFFFF !important; background-color:#F7100C !important;}
.mmi-X{color:#FFFFFF !important; background-color:#C80F0A !important;}
.mmi-XI{color:#FFFFFF !important; background-color:#C80F0A !important;}
.mmi-XII{color:#FFFFFF !important; background-color:#C80F0A !important;}
